// mixin

@mixin flexit{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// mixin position
@mixin position($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// mixin animations
@mixin roundandround{
    animation: rotation 20s infinite linear;
    @keyframes rotation{
        0%{transform: rotate(0deg)}
        100%{transform: rotate(359deg)}
    }
}
@mixin scrollingX{
    animation: scroll 10s infinite linear;
    @keyframes scroll{
        0%{transform: translateX(6%)}
        50%{transform: translateX(-10%)}
        100%{transform: translateX(6%);}
    }
}
@mixin spanText{
    font-family: 'Larish Neue Semibold';
    color: #fff;
    -webkit-text-stroke: 1px #000;
}



//                .                                                      .
//              .n                   .                 .                  n.
//        .   .dP                  dP                   9b                 9b.    .
//       4    qXb         .       dX                     Xb       .        dXp     t
//     dX.    9Xb      .dXb    __                         __    dXb.     dXP     .Xb
//     9XXb._       _.dXXXXb dXXXXbo.                 .odXXXXb dXXXXb._       _.dXXP
//     9XXXXXXXXXXXXXXXXXXXVXXXXXXXXOo.           .oOXXXXXXXXVXXXXXXXXXXXXXXXXXXXP
//     `9XXXXXXXXXXXXXXXXXXXXX'~   ~`OOO8b   d8OOO'~   ~`XXXXXXXXXXXXXXXXXXXXXP'
//       `9XXXXXXXXXXXP' `9XX'   DIE    `98v8P'  HUMAN   `XXP' `9XXXXXXXXXXXP'
//           ~~~~~~~       9X.          .db|db.          .XP       ~~~~~~~
//                         )b.  .dbo.dP'`v'`9b.odb.  .dX(
//                       ,dXXXXXXXXXXXb     dXXXXXXXXXXXb.
//                      dXXXXXXXXXXXP'   .   `9XXXXXXXXXXXb
//                     dXXXXXXXXXXXXb   d|b   dXXXXXXXXXXXXb
//                      9XXb'   `XXXXXb.dX|Xb.dXXXXX'   `dXXP
//                       `'      9XXXXXX(   )XXXXXXP      `'
//                               XXXX X.`v'.X XXXX
//                               XP^X'`b   d'`X^XX
//                               X. 9  `   '  P )X
//                               `b  `       '  d'
//                                `             '
